/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* CORPO */

body{
    font-family: Arial, sans-serif;
    line-height:1.6;
    transition:0.4s;
}

/* TEMA CLARO */

.light-theme{
    background:#f4fff4;
    color:#222;
}

/* TEMA ESCURO */

.dark-theme{
    background:#121212;
    color:white;
}

/* CABEÇALHO */

header{
    text-align:center;
    padding:40px;
    transition:0.4s;
}

.light-theme header{
    background:#2e7d32;
    color:white;
}

.dark-theme header{
    background:#1b1b1b;
    color:#8cff98;
}

/* MENU */

nav{
    display:flex;
    justify-content:center;
    gap:25px;
    padding:15px;
    transition:0.4s;
}

.light-theme nav{
    background:#1b5e20;
}

.dark-theme nav{
    background:#242424;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#8cff98;
}

/* BOTÃO */

.tema-container{
    text-align:center;
    margin:25px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.light-theme button{
    background:#222;
    color:white;
}

.dark-theme button{
    background:white;
    color:#222;
}

/* SEÇÕES */

section{
    padding:40px;
    max-width:1100px;
    margin:auto;
}

section h2{
    margin-bottom:20px;
}

/* IMAGENS */

section img{
    width:100%;
    max-width:700px;
    border-radius:12px;
    margin-top:20px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.light-theme .card{
    background:white;
}

.dark-theme .card{
    background:#1e1e1e;
}

/* GALERIA */

.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.galeria img{
    width:300px;
    height:200px;
    object-fit:cover;
}

/* RODAPÉ */

footer{
    text-align:center;
    padding:20px;
    margin-top:40px;
    transition:0.4s;
}

.light-theme footer{
    background:#1b5e20;
    color:white;
}

.dark-theme footer{
    background:#242424;
    color:#8cff98;
}